{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RGP T-Coin Bot</title>
</head>
<body>
    <style>
        body {
            background-color: #191919;
        }

        .logo {
            padding-top: 10px;
            width: 200px;
        }

        h1 {
            padding-top: 100px;
            color: #ffffff;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    </style>

    <center>
        <h1>Play on your mobile</h1>
        <a href="https://t.me/RPGCOINBOT">
            <img src="{% static 'images/qrCode.png' %} " alt="" class="logo">
        </a>

        <br><br><br>

        <a href="https://t.me/RPGCOINBOT">@RPGCOINBOT</a>
    </center>

</body>
</html>